<html>
    <head>
        <style>
            #main{
                max-width:300px;
                height:200px;
                background-color:rgb(189, 145, 91);
            }
            #result{
                position: relative;
                left: 220px;
                top: 20;
            }
            #heading{
                position: relative;
                left:90px
            }

        </style>
        <datalist id="usernames">
            <option value = 'username_person'>
        </datalist>
    </head>
    <body id = 'main'>
        <div style = "position:relative; left:200px; top:2px; color:rgb(22, 17, 17)"><h1 id="heading"><u>game</u></h1></div>

        <form action="{{url_for('login')}}" method="post" id = "result">
            <label for="user"></label>
            <input type="text" id="firstname" name="fname" placeholder="firstname">
            <label for="password"></label>
            <input type="text" id="lastname" name="lname" placeholder="lastname">
            <input type="submit" value="submit" name="action1"/>
        </form>
        <script>
            function ugood(){
                var user = document.getElementById("user")
                var outputu = document.getElementById("outputu")
                var password = document.getElementById("password")
                var outputp = document.getElementById("outputp")
                outputu.innerHTML = user.value
                outputp.innerHTML = password.value
                

            }
        </script>
    </body>
</html>